[Desktop Entry]
Name=Termite
Comment=Use the command line
Exec=termite
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
