[Desktop Entry]
Name=Termite
Comment=Use the command line
Exec=termite
Icon=utilities-terminal
Type=Application
Categories=Application;GTK;Utility;TerminalEmulator;
StartupNotify=true
